/* styles.css */

/* adding margin above the text */
.add-top-margin {
    margin-top: 16px;
}

.pub-card {
  margin-bottom: 16px;
  margin-left:16px;
  margin-right:16px;
}

.publication-sub-list {
    list-style-type: none;
    padding-left: 20px; /* Adjust this value to control the spacing before the bullet point */
  }
  
  .line-divider {
    border-top: 2px solid black;
    width: 100%;
    /*margin: 0 auto; /* Center align the line horizontally */
    padding-top: 8px; /* Add some padding above the line */
    padding-bottom: 8px; /* Add some padding below the line */
  }

  .btn-custom {
    padding-top:1px;
    padding-bottom:1px;
    margin-top:2px
  }